<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-1">
    <%= simple_form_for @analysis,
        html: { class: 'form-horizontal' },
        url: analysis_index_path do |f| %>
      <%= f.input :subreddit %>
      <%= f.input :min_upvotes %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
