/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 .container-fluid {
   max-width: 1200px;
 }

 .top-content {
   margin-top: 2rem;
 }

 .jumbotron {
   background: image-url('ocean_sm.jpg') no-repeat center center fixed;
   background-size: cover;
   -moz-background-size: cover;
   -webkit-background-size: cover;
   -o-background-size: cover;
   padding: 10rem;
   color: white;
   h1 {
     font-weight: bold;
     margin-bottom: 0;
     line-height: 4.5rem;
   }
   p {
     margin-left: 1.5rem;
     line-height: 1.7rem;
   }
 }

 #nav-brand {
   line-height: normal;
   color: #272727;
   &:hover {
     background-color: #acd1f6;
   }
 }

 .analysis-container {
   padding-top: 0;
   padding-bottom: 2.5rem;
 }

 .suggestion-container {
   margin-top: 2.5rem;
 }

 .chart-container {
   background-color: #e4e9f0;
   width: 100%;
  //  margin: 0 -2rem;
   padding: 8rem 2rem;
  //  border-radius: 1rem;
  //  box-shadow: 0.25rem 0.25rem #efefef;
  //  border: 0.1rem solid #bab5b5;
 }

 .navbar-default {
   background-color: #cee3f8;
   border: none;
   border-radius: 0;
   margin: 0;
   .navbar-nav li a{
     color: #272727;
     &:hover {
       background-color: #acd1f6;
     }
   }
   .navbar-toggle {
     border: 1px solid #90a4b7;
     &:hover, &:focus {
       background-color: #89b1da;
     }
   }
   .navbar-collapse {
     border-color: #90a4b7;
   }
 }

 .form-group .help-block {
   display: inline;
  margin-left: 0.5rem;
 }

 @media only screen and (max-width: 768px) {
   .jumbotron {
     padding: 5rem;
   }
 }
